* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    align-content: center;
    width: 100%;
    padding:0;
    flex-shrink: 10;
}



.site-header {
    background-color: #5f7264;
    padding: 70px;

}

.headshot {
    border-radius: 190px;
    width: 25%;
    z-index: 998;
    margin:0px;

}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #5f7264;
    transition: 0.4s; 
}

.navbar__menu {
    color:#3e644846;
    list-style-type: none;
    padding: 0;
    margin: 0px;
    overflow: hidden;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
}

.navbar a {
    color:#ffffff;
    text-decoration: none;
    padding: 20px;
    display: block;
    text-align: center;
}

.navbar a:hover {
    background-color: #344638;
}

.navbar__item {
    align-items: center;
    font-size: 35px;
    height: 85px;
}

nav.header-sticky {
    position: fixed;
    background-color: #344638;
    z-index: 2000;
    transition: 0.4s;
    width: 100%;
    top: 0;
}

.menubutton {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menubutton ul {
    padding: 0;
}

.menubutton li {
    list-style: none;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menubar {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    background-color: #f4efe899;
    backdrop-filter: blur(13px);
    display: none;
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    transition: 0.6s;
}

.menubar ul {
    list-style: none;
    width: 100%;
    font-size: 25px;
}

.menubar li{
    width: 100%;
}

.menubar a{
    height: 100%;
    width: 100%;
    padding: 25px 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;

}


.menubar a:hover {
    background-color: #344638;
    color: #f4efe8;
}

.xbutton a:hover {
    fill: #f4efe8;
}


.rod {
    color: #f4efe8;
    font-size: 35px;
}

.read {
    color:#f4efe8;
    text-align: center;
    font-size: 35px;
    font-style: italic;
}



h1 {
    text-align: center;
    font-size: 60px;
    color: white;
    margin:0px;
}

h2 {
    text-align: center;
    margin:0px;
    padding: 20px;
}

#what {
    background-color: #cfad99;
}

.what {
    background-color: #cfad99;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 30px;
}

.who {
    background-color: #f4efe8 ;
    margin: 0;
    padding: 20px;
    width: 100%;
    font-size: 30px;
}

footer {
    width: 100%;
}


@media only screen and (min-width: 480px){
    .menubar {
        display: none;
    }

    .menubutton {
        display: none;
    }
}

@media only screen and (max-width: 480px) {
    .navbar__container {
        display: none;
    }
}
